.major-item {
  border: 1px solid gray;
  padding: 20px;
}

.major-item.selected {
  /*background-color: gray;*/
}

.major-item:hover {
  /*background-color: gray;*/
}

.level-2-container {
  padding: 10px;
}

.level-2-title {
  font-weight: bold;
  padding: 5px;
  background-color: #cccccc;
  border: 1px solid gray;
}